<h1 class="my-8 text-center text-6xl font-bold"><span class="text-green-600">TailwindCSS</span> in <span class="text-red-600">Angular</span> boilerplate!</h1>
<p class="text-right text-3xl mr-8">Built with this <a class="text-blue-600" href="https://jacobneterer.medium.com/angular-and-tailwindcss-2388fb6e0bab">tutorial</a> from <a class="text-blue-600" href="https://jacobneterer.medium.com/">Jacob Neterer</a></p>
<p class="text-right text-3xl mr-8">Recommend <a class="text-blue-600" href="https://marketplace.visualstudio.com/items?itemName=bradlc.vscode-tailwindcss">VScode extension</a></p>
